body, .kr-view, .kr-text {
  font-family: 나눔고딕, "Noto Sans CJK KR" !important;
}

/* 카드 및 로그 텍스트(그리고 로그 텍스트 내 긴 url) 줄이기 */
div[data-item-id] div.kr-view:not([style])>div.kr-text,               /* (1) 카드 제목 */
div.selection-dark div.kr-view>div.ml-react-markdown,                 /* (2) 로그 내 댓글 텍스트 */
div.selection-dark div.kr-view[style="margin-top: 5px;"]>div.kr-text  /* (3) 로그 내 카드 제목 */
{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

div.selection-dark {
  /* (2) 로그 댓글 텍스트는 높이 자체를 제한. 서체 크기도 줄임 */
  div.kr-view>div.ml-react-markdown {
    font-size: 90% !important;
    max-height: 320px;
  }

  /* (3) 로그 내 카드 제목은 3줄로 제한 */
  div.kr-view[style="margin-top: 5px;"]>div.kr-text {
    -webkit-line-clamp: 3;
  }

  /* 로그 내 좌측 여백 줄임 */
  div.kr-view[style="flex-grow: 1; flex-shrink: 1;"]>div') {
    padding-left: 8px !important;
  }

  /* 로그 내 우측 여백 미사용 시 삭제 */
  div.kr-view+div.kr-view[style="width: 44px; height: 100%;"] {
    width: initial !important;
  }
}

/* 카드와 로그의 이미지만 세로 제한(160px) */
div.knightrider-lazyscrollview-item div.mt-attachment-image-wrapper, div.selection-dark div.mt-attachment-image-wrapper {
  height: 160px;
}
